<div class="form-container">
  <%= form_for @user do |f| %>
    <div class="row">
      <div>
        <%= f.label :username %>
      </div>
      <%= f.text_field :username %>
    </div>
    <div class="row">
      <div>
        <%= f.label :email %>
      </div>
      <%= f.text_field :email %>
    </div>

    <div class="row">
      <div>
        <%= f.label :password %>
      </div>
      <%= f.strong_password_field :password %>
    </div>

    <div class="row">
      <div>
        <label>Password Strength</label>
      </div>
      <div class="password-strength-meter" style="width: 200px;">
      </div>
    </div>
    <%= f.submit %>
  <% end %>
</div>
